extends layout

block content
  .row
    .col-md-1
    .col-md-11
      div#sliders.top-space

    //- input#dmx-channel
    //- input#dmx-value
    //- div#btn-send-dmx.btn.btn-default.btn-lg.btn-block Send

    script(src='/javascripts/conf.js')
