html
  head
    link(type='text/css', rel='stylesheet', href='stylesheets/lab.css')
    link(rel='stylesheet', href='/lib/bootstrap/css/bootstrap.min.css')
    title Hello
  body
   img.bg(src='img/strecke.jpg')
   a(href='/controller')#backButton.btn.btn-default.btn-lg.btn-block Back
