doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/controller.css')
    link(rel='stylesheet', href='/lib/animate.css')

    script(src='/lib/jquery-2.1.1.js')
    script(src='/socket.io/socket.io.js')

    link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Roboto')

    link(rel='stylesheet', href='/lib/bootstrap/css/bootstrap.min.css')
    script(src='/lib/bootstrap/js/bootstrap.min.js')

    script(src='/lib/minicolors/jquery.minicolors.js')
    link(rel='stylesheet', href='/lib/minicolors/jquery.minicolors.css')

    script(src='/lib/moment.js')
    script(src='/lib/countdown/jquery.knob.js')
    script(src='/lib/countdown/jquery.ccountdown.js')

    script(src='/javascripts/main.js')
    script(src='/javascripts/timer.js')

    meta(name='viewport', content='width=device-width, initial-scale=1')
  body

    nav.navbar.navbar-inverse.navbar-fixed-top(role='navigation')
      .container-fluid
        // Brand and toggle get grouped for better mobile display
        .navbar-header
          button.navbar-toggle(type='button', data-toggle='collapse', data-target='#bs-example-navbar-collapse-1')
            span.sr-only Toggle navigation
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.navbar-brand(href='/') LightControl
        // Collect the nav links, forms, and other content for toggling
        #bs-example-navbar-collapse-1.collapse.navbar-collapse
          ul.nav.navbar-nav
            li.active
              a(href='#') Moving Head 1
            li
              a(href='#') Moving Head 2
            li.dropdown
              a.dropdown-toggle(href='#', data-toggle='dropdown')
                | Washs
                b.caret
              ul.dropdown-menu
                li
                  a(href='#') Wash 1
                li
                  a(href='#') Wash 2
                li
                  a(href='#') Wash 3
                li.divider
                li
                  a(href='#') All Washs
          //
              form.navbar-form.navbar-left(role='search')
                .form-group
                  input.form-control(type='text', placeholder='Search')
                button.btn.btn-default(type='submit') Submit
                li.divider
          ul.nav.navbar-nav.navbar-right
            li.dropdown
              a.dropdown-toggle(href='#', data-toggle='dropdown')
                | Shows
                b.caret
              ul.dropdown-menu
                li
                  a(href='/shows') List Shows
                li
                  a(href='/shows') Record Show
            li.dropdown
              a.dropdown-toggle(href='#', data-toggle='dropdown')
                | Games
                b.caret
              ul.dropdown-menu
                li
                  a(href='/pong').game TechTennis
                li
                  a(href='/car').game Hot Wire
            li.dropdown
              a.dropdown-toggle(href='#', data-toggle='dropdown')
                | Programs
                b.caret
              ul.dropdown-menu
                li
                  a(href='/draw') Draw
                li
                  a(href='/timer')#timer Timer
                li
                  a(href='/controller')#controller Controller

            li.dropdown
              a.dropdown-toggle(href='#', data-toggle='dropdown')
                | On / Off
                b.caret
              ul.dropdown-menu
                li
                  a(href='#') Washs On / Off
                li
                  a(href='#') Moving Head On / Off
                li.divider
                li
                  a(href='/conf') Configuration
                li
                  a(href='#') All On / Off
        // /.navbar-collapse
      // /.container-fluid


    block content

    block javascript