doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    
    script(src='/lib/jquery-2.1.1.js')
    script(src='/socket.io/socket.io.js')
    
    link(rel='stylesheet', href='/lib/bootstrap/css/bootstrap.min.css')
    script(src='/lib/bootstrap/js/bootstrap.min.js')
    
    script(src='/javascripts/main.js')
  body
    block content
