extends layout

block content
  .container
    .row
      .col-md-8.top-space
        div.jumbotron
         h3 Pong
         p This is a funny game, go to position and press start. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea
       .col-md-4.top-space
        div.jumbotron
         a(href='#').btn.btn-default.btn-lg.btn-block Start Game
    .row
      .col-md-12.top-space
       a(href='/')#btn-back.btn.btn-default.btn-lg.btn-block Back
