extends layout

block content
  .container
    .row
      .col-md-8.top-space
        div.jumbotron
         h1 Pong
         div.infoText Use your right hand to hit the Ball!
       .col-md-4.top-space
        div.jumbotron
         img(src="/img/pong.png")(style="position:relative;width:100%;border-radius:90px")
         a(href='#')#btn-start-game.btn.btn-default.btn-lg.btn-block Start Game
    .row
      .col-md-12.top-space
        div.jumbotron
         h1 Select Players
         <input type="checkbox"> Remember me
         
         a(href='')#btn-back.btn.btn-default.btn-lg.btn-block Player 1
         a(href='')#btn-back.btn.btn-default.btn-lg.btn-block Player 2
    .row
      .col-md-12.top-space
        div.jumbotron
        input.form-control(type='text', placeholder='Name Player 1 ', autofocus='autofocus', id='player1')

        input.form-control(type='text', placeholder='Name Player 2 ', autofocus='autofocus', id='player2')


    .row
      .col-md-12.top-space
       a(href='/')#btn-back.btn.btn-default.btn-lg.btn-block Back
