extends layout

block content
  .container
    .row
      .col-md-9.col-md-offset-1.top-space
        .jumbotron
         h2 TechTennis
         div.infoText Use your right hand to hit the Ball!
         img#pongLogo(src="/img/pong.png")(style="position:relative;width:60%;left:20%;border-radius:90px")
         div#game-info
        .row#playerMode 
          .col-md-6
            .thumbnail
             img(src='img/1player.jpg')
           .col-md-6
              .thumbnail
               .caption.animated
                 label(for="player1") Name Player 1
                 input.form-control(type='text', placeholder='Name Player 1 ', autofocus='autofocus', id='player1')
                 label(for="player2") Name Player 2
                 input.form-control(type='text', placeholder='Name Player 2 ', autofocus='autofocus', id='player2')
                 a(href='#', name="2player").btn-start-game.btn.btn-default.btn-lg.btn-block Start Game
               img(src='img/2player.jpg')
  #black(style="display:none;")
   img.bg(src="/img/black.jpg")
   button.btn-end-game.btn.btn-warning(type="button") End Game
 append javascript
    script(src='/lib/pong/mespeak.js')
    script(src='/javascripts/pong.js')