extends layout

block content
  .container
    .row.top-space
    .col-md-12
      div#colors
    .row.top-space
    .col-md-12
      div#btn-send-position.btn.btn-default.btn-lg.btn-block Move
    .row
      .col-md-12.top-space
        #btn-record.btn.btn-default.btn-lg.btn-block Record Show
