body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #363A3F !important;
}

a {
  color: #00B7FF;
}

.top-space {
    margin-top: 20px;
}

img {
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

#drawing-board {
    line-height: 0;
}

.div-pos {
    border: 1px solid gray;
    height: 10px;
    width: 10px;
    display: inline-block;
    cursor: pointer;
}

#sliders {
    overflow-x: auto;
    white-space: nowrap;
    overflow-y: hidden;
}

input[type=range] {
    -webkit-appearance: slider-vertical;
    display: inline !important;
    width: 30px !important;
    height: 200px;
}

.infoText {
    text-align: center;
    font-size: 18pt;

}
.thumbnail {
    position: absolute;
    top: 15px;
    bottom: 0;
    left: 15px;
    right: 0;
    text-align:center;
    padding-top:calc(50% - 30px);
    background-color: #eee !important;
}

.caption {
    background: none repeat scroll 0 0 rgba(66, 66, 66, 0.75);
    color: #fff !important;
    display: none;
    height: 19em;
    padding: 2%;
    position: absolute;
    right: 0;
    text-align: center;
    top: 0;
    width: 100%;
    z-index: 2;
}

.btn-start-game {
    position: absolute;
    bottom: 10px;
    margin-left: -10px;
}

.game-information {
    color: white;
    font-size: 40px;
    position: relative;
    width: 100%;
    font-family: 'Roboto', sans-serif;

}

.easyLab {
    font-size: 60px;
    text-align: center;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    top: 1.5em;
}

.difficultLab > #time {
    left: 12%;
    top: 3em;
    position: relative;
}

.difficultLab > #score {
    position:  relative;
    top: -7em;
    left: 35%;
}

#labyrinthOptions {
    top: 12em;
    position: relative;
    color: white;
}