body {
  padding: 50px;
  font: 14px 'Roboto', sans-serif !important;
  background-color: #363A3F !important;
}

a {
  color: #00B7FF;
}

.top-space {
    margin-top: 20px;
}

img {
    position: relative;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

#drawing-board {
    line-height: 0;
}

.div-pos {
    border: 1px solid gray;
    height: 10px;
    width: 10px;
    display: inline-block;
    cursor: pointer;
}

#sliders {
    overflow-x: auto;
    white-space: nowrap;
    overflow-y: hidden;
}

input[type=range] {
    -webkit-appearance: slider-vertical;
    display: inline !important;
    width: 30px !important;
    height: 200px;
}

.infoText {
    text-align: center;
    font-size: 18pt;

}

.btn-end-game {
    box-shadow: 0 0 20px grey;
    position: relative;
    width: 100px;
}

.caption {
    background: none repeat scroll 0 0 rgba(66, 66, 66, 0.75);
    color: #fff !important;
    right: 15px;
    display: none;
    height: 19em;
    padding: 2%;
    position: absolute;
    right: 15px;
    text-align: center;
    top: 0;
    width: 95%;
    z-index: 2;
}

.btn-start-game {
    position: absolute;
    bottom: 10px;
    margin-left: -10px;
}

.game-information {
    color: white;
    font-size: 40px;
    position: relative;
    width: 100%;
    font-family: 'Roboto', sans-serif;

}

.easyLab {
    font-size: 60px;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    top: 2.5em;
    width: 30%;
}

.easyLab > #score {
    left: 11em;
}

#time {
    position: fixed;
}
#score {
    position: fixed;
}

.extremeLab > #time {
    left: 6em;
    top: 6em;
}

.extremeLab > #score {
    left: 15em;
    top: 0px;
}

.hardLab > #time {
    right: 5px;
    bottom: 5px;
}

.hardLab > #score {
    right: 5px;
    top: 5px;
}

.mediumLab {
    left: 7em;
    width: 50%;
}

.mediumLab > #time {
    top: 9em;
}

.mediumLab > #score {
    top: 12em;
    left: 28em;
}

#labyrinthOptions {
    color: white;
    margin-top: 3em;
}

#btns {
    top: 1em;
}

#player {
    width: 50%;
    padding: 8px;
    margin: 20px;
}


.btn {
    margin-top: 10%;
}

#drawing-board {
    margin: 5% auto;
}

/* start page tiles */
.tile {
    margin-top: 5%;
    height: 35%;
    width: 40%;
    position: absolute;
    color: #eee;
    z-index: 0;
    text-shadow: 1px 1px #000;
}

#colorTile {
    background: #eee;
    right: 5%;
    background-image: url("/img/wheel.png");
    background-size: cover;
    border-radius: 15px;
}

#pongTile {
    bottom: 5%;
    left: 5%;
    background-image: url("/img/pong.png");
    background-size: cover;
    border-radius: 15px;
}

#timerTile {
    bottom: 5%;
    right: 5%;
    background-image: url("/img/timer.jpg");
    background-size: cover;
    border-radius: 15px;
}

#carTile {
    left: 5%;
    background-image: url("/img/car.png");
    background-size: cover;
    border-radius: 15px;
}

.flip-container:hover .flipper, .flip-container.hover .flipper {
    transform: rotateY(180deg);
}

.flipper {
    margin: 5%;
    transition: 0.6s;
    transform-style: preserve-3d;
    position: relative;
    height: 90%;
    width: 90%;
}

.front, .back {
    backface-visibility: hidden;
    width: 90%;
    height: 90%;
    z-index: 1;
}

#colors {
    z-index: 1;
}

.back {
    transform: rotateY(180deg);
    position: absolute;
    top: 0;
    left: 0;
}

.tile p {
    margin-top: 5%;
}

.thumbnail {
    background-color: #EEE !important;
}